<header>
    <img src="<%= logo %>" alt="logo liga de basket" loading="lazy" style="width=32px;height: 32px;">
    <a href="/">
        <h3 class="font-size-me font-accent-color font-weight-black">
            Bull Stats
        </h3>
    </a>
</header>