h3, h4 { 
    margin: 0px;
}

body main {
    width: 90vw;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    /*max-width: 720px;*/
    margin-bottom: 50px;
}

h1 {
    font-size: var(--font-size-s);
    font-weight: 800;
}

.conference-picker {
    display: flex;
    justify-content: flex-start;
    max-width: 340px
}

.conference-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 10px;
    padding: 25px;
}

.conference-card {
    margin-right: 10px;
}

.conference-img {
    max-width: 100px;
}

section h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

table, th, td {
    border:none;
    border-collapse: collapse;
    min-width: 50px;
    text-align: center;
    white-space: nowrap;
}

tr {
    font-size: 0.8rem;
    line-height: 1.8rem;
}

tr:nth-child(even) {
    background-color: white;
  }

tr:nth-child(odd) {
    background-color: #EA4C8930;
}

th {
    background-color: #EA4C89;
}

.teams-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.equipo-link {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.equipo-card {
    display: flex;
    line-height: 50px;
}

.equipo-name {
    margin:0px;
}

.equipo-img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

table th:first-child, table td:first-child {
    position: sticky;
    left: 0px;
}

table td:nth-child(2), table th:nth-child(2) {
    position: sticky;
    left: 52px;
}

table tr:nth-child(even) td {
    background-color: white;
  }

table tr:nth-child(odd) td {
background-color: #F7D9E5;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .equipo-link {
        width: 45%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .equipo-link {
        width: 30%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .equipo-link {
        width: 20%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .equipo-link {
        width: 20%;
    }
}

