h3, h4 { 
    margin: 0px;
}

body main {
    width: 90vw;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 720px;
}

h1 {
    font-size: var(--font-size-s);
    font-weight: 800;
}

.conference-picker {
    display: flex;
    justify-content: flex-start;
    max-width: 340px
}

.conference-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 10px;
    padding: 25px;
}

.conference-card {
    margin-right: 10px;
}

.conference-img {
    max-width: 100px;
}

section h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

table, th, td {
    border: 0px;
    min-width: 50px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: white;
  }

tr:nth-child(odd) {
    background-color: #EA4C8930;
}

th {
    background-color: #EA4C89;
}