<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bullstats | Toda la información de basket latinoamericano</title>

    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/style/home.css">
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <h1 class="font-size-sm font-color-black align-center">¿Qué liga te interesa?</h1>
            <a href="">

                <article>
                    <div class="league-logo"
                        style="background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/a/a0/LNB_Argentina_Logo.svg/1200px-LNB_Argentina_Logo.svg.png');">
                    </div>
                    <div class="card-text">
                        <h4>Liga Nacional</h4>
                        <p>Proximamente</p>
                    </div>
                </article>
            </a><a href="/leagues/liga-argentina">
                <article>
                    <div class="league-logo"
                        style="background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/9/95/La_Liga_Argentina_de_B%C3%A1squet_logo.svg/1200px-La_Liga_Argentina_de_B%C3%A1squet_logo.svg.png');">
                    </div>
                    <div class="card-text">
                        <h4>Liga Argentina</h4>
                    </div>
                </article>
            </a>
            <a href="">
            <article>
                <div class="league-logo"
                    style="background-image: url('http://www.lub.uy/plataforma/images/lub/logo-lub.png');"></div>
                <div class="card-text">
                    <h4>Liga Uruguaya</h4>
                    <p>Proximamente</p>
                </div>
            </article>
            </a>
        </main>
</body>

</html>