<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= liga %> de Basquet | Estadísticas y Equípos
    </title>

    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/style/league.css">
</head>

<body>
    <%- include('./partials/league-header') %>
        <main>
            <h1 class="">
                <%= liga %>
            </h1>
            <section class="conference-picker">
                <a href=""></a>
                <div class="conference-card">
                    <img src="/images/logos/conferencias/csur.svg" alt="" class="conference-img">
                </div></a>
                <a href="">
                    <div class="conference-card">
                        <img src="/images/logos/conferencias/cnorte.svg" alt="" class="conference-img">
                    </div>
                </a>
            </section>
        </main>
</body>

</html>